@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.imglogo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 10px;

}
.imgtitle {
    width: 500px;
    height: auto;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;

}
.right-link {
    display: flex;
    gap: 90px;
    margin-right: 100px;
    list-style: none;
}
.link {
    color: white;
}
.info {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 100px;
}
.leftinfo {
    display: flex;
    flex-direction: column;
}
.thisweb {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    max-width: 300px;
    max-height: 200px;
}

h2 {
    font-size: 18px;
    color: #E5E7EB;
}
.hi {
    max-width: 500px;
}
.button {
    font-size: 24px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    margin-right: 400px;
}
.information {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}
.box {
    border: 2px solid blue;
    width: 200px;
    height: 200px;
    border-radius: 25px;
}
.second {
    display: flex;
    justify-content: center;
    flex: auto;
    gap: 64px;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 100px;
}
.boxt {
    font-size: 24px;
    color: #575757;
    max-width: 200px;
}
.third {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}
.quote {
    font-style: italic;
    font-size: 36px;
    display: flex;
    flex-direction: column;
}
.quotename {
    font-size: 24px;
    font-weight: bolder;
    align-self: flex-end;
}
.fourth {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourthtext {
    background-color: #3882F6;
    padding: 50px;
    height: auto;
    width: 1000px;
    border-radius: 15px;
    color: #F9FAF8;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;

}
.button2 {
    font-size: 24px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    border: 2px solid white;
    padding: 1px 10px;

}
.signuptext2 {
    color: #d7d7d7;
    font-size: 16px;
    max-width: 1000px;
}
.footer {
    height: 150px;
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.footertext {
    font-size: 24px;
    font-weight: bolder;
    color: #E5E7EB;
}